body {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  text-align: center;
}

p {
  text-align: center;
  font-family: "Playfair Display", Tahoma, sans-serif;
  font-size: 32px;
  font-style: normal;
  margin: 20px 0 -20px 0;
}

h1 {
  text-align: center;
  font-family: "Playfair Display", Tahoma, sans-serif;
  font-style: italic;
  font-size: 80px;
}

#gameBoard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.boxOfLetters {
  border: 2px solid black;
  border-radius: 8px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: white;
}

.rowOfLetters {
  display: flex;
}

.filled {
  border: 2px solid black;
}

#keyboardLayout {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboardLayout div {
  display: flex;
}

.firstRow {
  margin: 1rem 0 0 0;
}

.secondRow {
  margin: 1rem 0;
}

.keyboardButton {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}
